<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Braille Translator</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFE8TQ1L1X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BFE8TQ1L1X');
</script>
<!-- Logo -->
<meta property="og:title" content="Braille Translator">
<meta property="og:site_name" content="FastBraille">
<meta property="og:url" content="http://www.fastbraille.com/">
<meta property="og:description" content="Easily translate English to Braille.">
<meta property="og:type" content="article">
<meta property="og:image" content="http://www.fastbraille.com/static/default.png">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	
</head>

<body>
 <div class="braille">
	<h1>Braille Translator</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('translation')}}"method="post">
    	<input type="text" name="main_text" placeholder="Enter text here" required="required" value="{{translator_text}}" autofocus/>

      <button type="submit" class="btn btn-primary btn-block btn-large">Translate</button>
    </form>

   {% if prediction_text %}
    <div class="braille-output">
      <p>{{prediction_text}}</p>
      <button class="btn printer" title="Print this braille" onclick="window.print()">🖨️</button>
    </div>
    {% endif %}
 </div>

 <footer>
  <!-- <p>Developed by <a class="link" href="https://www.linkedin.com/in/mikhail-sidyakov/" target="_blank" rel="noopener" aria-label="LinkedIn link">Mikhail Sidyakov</a>. More content: <a class="link" href="https://pyshark.com/" target="_blank" rel="noopener" aria-label="Pyshark link">PYSHARK.COM</a></p> -->
  <p>Developed by <a class="link" href="https://www.linkedin.com/in/mikhail-sidyakov/" target="_blank" rel="noopener" aria-label="LinkedIn link">Misha Sidyakov</a></p>
  <p>Source code available on <a class="link" href="https://www.github.com/misha-pyshark/braille/" target="_blank" rel="noopener" aria-label="GitHub link">GitHub</a></p>
</footer>

</body>
</html>
