<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Braille Translator</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Braille Translator</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('translation')}}"method="post">
    	<input type="text" name="main_text" placeholder="Enter text here" required="required" value="{{translator_text}}"/>

      <button type="submit" class="btn btn-primary btn-block btn-large">Translate</button>
    </form>

   <br>
   <br>
   <!-- {% if prediction_text %}
   <h2>{{ prediction_text }}</h2>
    {% endif %} -->
    <h2 style="{{'display: none;' if not prediction_text }}">{{prediction_text}}</h2>


 </div>

 <footer>
  <!-- <p>Developed by <a class="link" href="https://www.linkedin.com/in/mikhail-sidyakov/" target="_blank" rel="noopener" aria-label="LinkedIn link">Mikhail Sidyakov</a>. More content: <a class="link" href="https://pyshark.com/" target="_blank" rel="noopener" aria-label="Pyshark link">PYSHARK.COM</a></p> -->
  <p>Developed by <a class="link" href="https://www.linkedin.com/in/mikhail-sidyakov/" target="_blank" rel="noopener" aria-label="LinkedIn link">Misha Sidyakov</a>.</p>  
</footer>

</body>
</html>
